

.main{
    height: 310px;
    width: 270px;
    border: 1px solid #dadada;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     box-shadow: 5px 5px 5px lightgray;
}
.top{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
.icon img{
    height: 80%;
    width: 80%;
    position: relative;
    top: 5px;
    border-radius: 50%;
}
.save{
    height: 22px;
    width: 68px;
    border: 1px solid black;
    
    border-radius: 8px;
    padding: 4px 0px 0px 4px;
    opacity: 0.5;
    margin-top: 8px;
}

.save i{
    font-size: 13px;
    margin-left: 2px;
}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.text p{
    margin-bottom: 0;
}

.text span button{
    border: none;
    padding: 5px;
}

.text .am{
    font-weight: 500;
    font-size: 19px;
}
.text .am .day{
   font-size: 10px;
    opacity: 0.4;
}

.text .ui{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 0;
}



.bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price h3{
    margin-bottom: 0;
    font-size: 18px;
}
.price p{
    margin-bottom: 14px;
    margin-top: 0;
    font-size: 10px;
    opacity: 0.4;
}

.btn button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px 9px 5px 9px;
}

.line {
    border-bottom: 1px solid black;
    margin-top: 28px;
    opacity: 0.2;
}

.mid{
    margin-top: 0px;
    margin-bottom: 25px;
}

span button{
    border-radius: 4px;
}